{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Barre de Naviagtion{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link rel="icon" href="/icon.png" type="image/png">
        <style>         
            body {
                display: flex;
                min-height: 100vh;
                margin: 0;
                background-color:rgb(172, 168, 168);
            }

            .logo-img {
                height: 27px;
                width: auto;
                margin-bottom: 1rem;
                display: block;

            }



            .sidebar {
                width: 250px;
                color: white;
                display: flex;
                flex-direction: column;

                padding: 1rem;
                height: 100vh;
                position: fixed;
                top: 0;
                left: 0;
                gap: 2rem;
            }
            .sidebar a {
                color: black;
                text-decoration: none;
                display: block;
                padding: 0.5rem 0;
            }

            .content {
                margin-left: 200px;
                padding: 6rem;
                width: 100%;
            }
            .sidebar {
                width: 250px;
                background-color:rgb(255, 255, 255);
                color: white;
                display: flex;
                flex-direction: column;
                align-items: center;

                height: 100vh;
                position: fixed;

                padding: 1.5rem 1rem;
            }

            .buton  {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0rem;
            }

            .menu-item {
                background-color:rgb(255, 255, 255);
                color: black;
                text-decoration: none;
                padding: 0.75rem 1rem;
                border: none;
                border-radius: 0px;

                display: block;
                font-size: 1rem;
                border-bottom: 1px solid #e0e0e0;
                transition: background-color 0.2s ease;
            }



            .menu-item:hover {
                background-color:rgb(223, 223, 223);
                cursor: pointer;
            }

            .form-control {

                padding: 0.75rem 1rem;
                gap: 100rem;
            }

            .top-header {
                position: fixed;
                top: 0;
                left: 250px; /* largeur de la sidebar */
                right: 0;
                height: 70px;
                background-color: #fff;
                border-bottom: 1px solid #ddd;
                z-index: 10;
                display: flex;
                align-items: center;
                padding: 0 2rem;
            }

            .header-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }

            .page-title {
                font-size: 1.5rem;
                margin: 0;
            }

            .header-right {
                display: flex;
                align-items: center;
            }

            .user-name {
                font-weight: 500;
            }

            .header-right{
                display: flex;
                gap: 15px;
            }

            .header-right a {
                color: black;
            }

            .header-right a:hover {
                transform: scale(1.1);
            }

           .day-circle {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            font-size: 1rem;
            position: relative;
        }

        .timeline-container {
            position: relative;
        }

        .timeline-container::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 40px;
            right: 40px;
            height: 4px;
            background-color: #d3d3d3;
            z-index: 0;
        }

        /* Couleur pour le jour actuel */
        .bg-warning {
            background-color: #ffc107 !important; /* Jaune */
        }

        /* Couleur pour les jours passés */
        .bg-success-subtle {
            background-color:rgb(92, 195, 116) !important; /* Vert */
        }

        /* Couleur pour les jours futurs */
        .bg-secondary {
            background-color: #6c757d !important; /* Gris */
        }

        .z-1 {
            z-index: 1;
            background-clip: padding-box;
        }






        </style>
    </head>
    <body>
        <div class="sidebar">

            <img src="/images/logo.png" alt="Logo EcoTrack" class="logo-img">

            <form class="search-form" action="/recherche" method="get">
                <input class="form-control" type="text" name="q" placeholder="Rechercher...">
            </form>

            <div class="buton">
                <a href="{{ path('app_accueil') }}" class="menu-item text-start"> <i class="bi bi-house-door me-2"></i> Dashboard</a>
                <a href="#" class="menu-item text-start"> <i class="bi bi-ui-checks me-2"></i> Questionnaire </a>
                <a href="#" class="menu-item text-start"> <i class="bi bi-bar-chart-line me-2"> </i> Classement </a>

                <div class="accordion " id="accordionSidebar">
                    <div class="accordion-item bg-transparent border-0 ">
                        <div class="accordion-header">
                            <a href="#collapsePage2" class="menu-item w-100 text-start" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapsePage2">
                                <i class="bi bi-folder me-2"></i> Catégories
                            </a>
                        </div>

                        <div id="collapsePage2" class="accordion-collapse collapse">
                            <div class="accordion-body p-0">
                                <a class="dropdown-item menu-item text-start" href="#">Sous-page</a>
                                <a class="dropdown-item menu-item text-start" href="#">Sous-page</a>
                                <a class="dropdown-item menu-item text-start" href="#">Sous-page</a>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="#" class="menu-item text-start"> <i class="bi bi-person-circle me-2"></i> Profil</a>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

        <div class="top-header">
            <div class="header-content">
                <header>
                    <h1 class="page-title">{% block header_title %}Acceuil{% endblock %}</h1>
                </header>
                <div class="header-right">
                    <a class="header-item" href="#"><i class="bi bi-bell fs-4 me-3"></i></a>
                    <a class="header-item" href="#"><i class="bi bi-gear fs-4 me-3"></i></a>
                    <a class="header-item" href="#"><i class="bi bi-person-circle fs-4 me-3"></i></a>
                </div>
            </div>
        </div>



        <div class="content">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
