{% extends 'base.html.twig' %}

{% block title %}Hello QuestionnaireController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="questionnaire-container">
    <div class="question-block">
        <h2>Quel est votre mode de transport principal pour venir au travail ?</h2>
        <button>A pied ! 😅</button><br><br>
        <button>A vélo ! 😊</button><br><br>
        <button>En transport en commun ! 🚌</button><br><br>
        <button>En voiture... 🥱</button>
    </div>

    <div class="image-block">
        <img src="{{ asset('images/foret.png') }}" alt="Forêt" />
        {# remplace 'foret.png' par le nom de ton image #}
    </div>
</div>
{% endblock %}
